.titulo-wrapper {
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background: var(--cabecalho-componentes);
  padding: 1rem;
  font-weight: 700;
  text-align: center;
}

.corpo-card {
  border-radius: 0rem 0rem 1.5rem 1.5rem;
  background: var(--fundo-componentes);
  padding: 2rem 1rem 1.5rem;
}

.transacoes-e-botao {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.botao-adicionar-transacao {
  margin: 0 auto;
}

.icone-moeda {
  width: 1rem;
}