<section class="transacoes-card">
  <div class="titulo-wrapper">
    <h2 class="texto-lg">Movimentação financeira</h2>
  </div>

  <div class="corpo-card">
    <div class="transacoes-e-botao">
      <ul>
        @for (transacao of transacoes(); track transacao.id) {
          <li class="item-entre-divisorias">
            <app-transacao [transacao]="transacao" />
          </li>
        } @empty {
          <li aria-hidden="true">
            Ainda não há transações.
          </li>
        }
      </ul>
  
      <app-botao class="botao-adicionar-transacao">
        <img src="icones/moeda.svg" alt="" class="icone-moeda">
        Adicionar transação
      </app-botao>
    </div>
  </div>
</section>