<app-card>

  <h2 card-titulo class="titulo-lg">
    Movimentação financeira
  </h2>

  <div class="transacoes-e-botao">
    <ul>
      @for (transacao of transacoes(); track transacao.id) {
        <li class="item-entre-divisorias">
          <app-transacao [transacao]="transacao" />
        </li>
      } @empty {
        <li aria-hidden="true">
          Ainda não há transações.
        </li>
      }
    </ul>

    <app-botao-adicionar-transacao 
      class="botao-adicionar-transacao" 
      (transacaoCriada)="transacaoCriada.emit($event)"
      [contas]="contas()" >
    </app-botao-adicionar-transacao>
  </div>
</app-card>