<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-2x1 font-semibold text-gray-700 mb-4">Nova Lugar</h2>

    <hr/>

    <form id="lugarForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
        <div class="mb-4">
            <label for="nome" class="block text-gray-600 font-medium mb-2">Nome do Lugar</label>
            <input type="text" 
                    id="nome" 
                    name="nome" 
                    formControlName="nome" 
                    placeholder="Praia do Sol, Restaurante Estrela"
                    class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"/>
            <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('nome')">Campo obrigatório</span>
        </div>

        <div class="mb-4">
            <label for="categoria" class="block text-gray-600 font-medium mb-2">Categoria</label>
            <select name="categoria" 
                    id="categoria"
                    formControlName="categoria"
                    class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400">
                
                    <option [value]="">Selecione uma Categoria</option>
                    <option *ngFor="let cat of categorias" [value]="cat.nome">{{ cat.nome }}</option>
            </select>
            <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('categoria')">Campo obrigatório</span>
        </div>

        <div class="mb-4">
            <label for="localizacao" class="block text-gray-600 font-medium mb-2">Localização</label>
            <input type="text" 
                    id="localizacao" 
                    name="localizacao" 
                    formControlName="localizacao" 
                    placeholder="Ex: São Paulo"
                    class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"/>
            <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('localizacao')">Campo obrigatório</span>
        </div>

        <div class="mb-4">
            <label for="urlFoto" class="block text-gray-600 font-medium mb-2">Foto</label>
            <input type="text" 
                    id="urlFoto" 
                    name="urlFoto" 
                    formControlName="urlFoto" 
                    placeholder="Ex: http://exemplo.com/foto.jpg"
                    class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"/>
            <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('urlFoto')">Campo obrigatório</span>
        </div>

        <div class="mb-4">
	        <label for="avaliacao" class="block text-gray-600 font-medium mb-2">Avaliação</label>
            <select name="avaliacao" 
                    id="avaliacao"
                    formControlName="avaliacao"
                    class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400">
                
                    <option [value]="">Selecione uma Avaliação</option>
                    <option [value]="1">1 - Ruim</option>
                    <option [value]="2">2 - Regular</option>
                    <option [value]="3">3 - Bom</option>
                    <option [value]="4">4 - Muito Bom</option>
                    <option [value]="5">5 - Excelente</option>
            </select>
            <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('avaliacao')">Campo obrigatório</span>
        </div>

        <button type="submit" class="w-full bg-blue-600 text-white font-semibold p-3 rounded shadow hover:bg-blue-700">
                Cadastrar Lugar
        </button>
    </form>
</div>