<app-card>
  
  <h2 card-titulo class="texto-lg">Minhas contas</h2>
  
  <div class="corpo-card">
    <div class="contas-e-botao">
      <ul>
        @for (conta of contas(); track conta.nome) {
          <li class="item-entre-divisorias">
            <app-conta [conta]="conta" />
          </li>
        } @empty {
          <li aria-hidden="true">
            Ainda não há contas criadas.
          </li>
        }
      </ul>
  
      <app-botao-adicionar-conta 
        class="botao-adicionar-conta"
        (contaCriada)="contaCriada.emit($event)">
      </app-botao-adicionar-conta>
    </div>
  </div>
</app-card>