@import url('reset.css');
@import url('tipografia.css');

:root {
  --fundo-geral: #1C1D21;
  --fundo-componentes: #2A2C34;
  --cabecalho-componentes: #33353F;
  --texto: #F5F5F5;

  --violeta-destaque: #7693FF;

  --destaque-receita: #D6FF62;
  --destaque-despesa: #F87828;
}

html,
body {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  background: var(--fundo-geral);
  color: var(--texto);
}

.item-entre-divisorias:not(:last-child)::after {
  content: '';
  background: var(--cabecalho-componentes);
  display: block;
  height: 0.0625rem;
  width: 100%;
  margin: 1rem 0;
}
